.section {
    padding: var(--spacing-3xl) var(--spacing-base);
}

.container {
    max-width: 72rem;
    margin: 0 auto;
}

.title {
    font-size: clamp(var(--font-size-lg), 8vw, var(--font-size-3xl));
    line-height: clamp(var(--line-height-lg), 1.1 + 0.5vw, var(--line-height-2xl));
    color: var(--text-color-primary);
    font-weight: var(--font-weight-light);
    text-align: center;
    margin-bottom: var(--spacing-xl);
    margin-top: var(--spacing-md);

    &:has(+ .subtitle) {
        margin-bottom: 0;
    }
}

.subtitle {
    font-size: clamp(var(--font-size-md), 5vw, var(--font-size-xl));
    line-height: clamp(var(--line-height-lg), 1.1 + 0.5vw, var(--line-height-2xl));
    color: var(--text-color-secondary);
    margin-bottom: var(--spacing-xl);
    margin-top: var(--spacing-md);
    text-align: center;
}

.grid {
    display: grid;
    gap: var(--spacing-lg);
}

.card {
    background-color: var(--card-background);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
}

.card:hover {
    background-color: var(--card-background-hover);
}

.icon {
    margin-bottom: var(--spacing-base);
    color: var(--accent);
}

.cardTitle {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-primary);
    margin-bottom: var(--spacing-sm);
}

.description {
    color: var(--text-color-secondary);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}