codeguy.cz {
    reverse_proxy web:3000
    
    # Automatické HTTPS
    tls {
        protocols tls1.2 tls1.3
    }
    
    # Základní bezpečnostní hlavičky
    header {
        # Povolení CORS
        Access-Control-Allow-Origin *
        # Bezpečnostní hlavičky
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Content-Security-Policy "upgrade-insecure-requests"
        # Odstranění citlivých informací
        -Server
    }
    
    # Komprese
    encode zstd gzip
    
    # Logování
    log {
        output file /var/log/caddy/access.log
        format json
    }
} 