.linkButton {
    background-color: var(--accent);
    color: var(--text-color-tertiary);
    padding: var(--spacing-sm) var(--spacing-base);
    border-radius: var(--border-radius-rounded);
    font-weight: var(--font-weight-medium);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.linkButton:hover {
    background-color: var(--accent-hover);
}