.section {
    padding: var(--spacing-3xl) var(--spacing-base);
    background-color: var(--background-secondary);
}

.container {
    max-width: 72rem;
    margin: 0 auto;
}

.title {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-primary);
    text-align: center;
    margin-bottom: var(--spacing-xl);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.text {
    color: var(--text-color-secondary);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    max-width: 32rem;
    margin: 0 auto;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.label {
    color: var(--text-color-primary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
}

.input,
.textarea {
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--text-color-secondary);
    background-color: var(--card-background);
    color: var(--text-color-primary);
    font-size: var(--font-size-md);
}

.textarea {
    min-height: 8rem;
    resize: vertical;
}