.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("/media/bg-hero-600x343.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--background);
    background-blend-mode: color-dodge;
	padding: var(--spacing-xl);
}

@media only screen and (min-width: 900px) {
    .hero {
        background-image: url("/media/bg-hero-900x514.webp");
    }
}

@media only screen and (min-width: 1200px) {
    .hero {
        background-image: url("/media/bg-hero-1200x630.webp");
    }
}

@media only screen and (min-width: 1400px) {
    .hero {
        background-image: url("/media/bg-hero-1400x800.webp");
    }
}

@media only screen and (max-width: 1024px),
only screen and (hover: none) and (pointer: coarse) {
    .hero {
        background-attachment: scroll;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, rgba(10, 15, 28, 0.8));
}

.content {
    position: relative;
    z-index: 10;
    text-align: center;
    max-width: 64rem;
    margin: 0 auto;
    padding: 0 var(--spacing-base);
}

.title {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-primary);
    margin-bottom: var(--spacing-lg);
}

.description {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--text-color-secondary);
    margin-bottom: var(--spacing-xl);
}

.button {
    background-color: var(--accent);
    color: --color-midnight-blue;
    padding: var(--spacing-md) var(--spacing-xl);
    border-radius: 9999px;
    font-weight: var(--font-weight-medium);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
	background-color: var(--accent-hover);
}

@media (min-width: 768px) {
    .title {
		font-size: var(--font-size-5xl);
		line-height: var(--line-height-xs);
    }

    .description {
		font-size: var(--font-size-lg);
		line-height: var(--line-height-lg);
    }
}

.referencesPanel {
	background-color: var(--shadow);
	box-shadow: var(--box-shadow);
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-md);
	padding: var(--spacing-2xl);
	border-radius: var(--border-radius-xl);
	margin: 0 auto;
	width: 100%;
}
