.accordion {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.accordionHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.accordionItem {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.accordionTrigger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color-primary);
}

.accordionBody {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.accordionBody.open {
    max-height: 650px;
    opacity: 1;
}